* {
  box-sizing: border-box;
  font-family: 'Montserrat SemiBold';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameGrid {
  width: 800px;
  height: 800px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.newCell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.player-tile {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
