* {
  box-sizing: border-box;
  font-family: 'Montserrat SemiBold';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-grid {
  width: 800px;
  height: 800px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.player-tile {
  background-image: url('./organisms/animals/face.png');
  background-size: 38px;
}

.wolf-tile {
  background-image: url('./organisms/animals/wolf.png');
  background-size: 38px;
}

.sheep-tile {
  background-image: url('./organisms/animals/sheep.png');
  background-size: 38px;
}

.fox-tile {
  background-image: url('./organisms/animals/fox.png');
  background-size: 38px;
}

.antelope-tile {
  background-image: url('./organisms/animals/deer.png');
  background-size: 38px;
}

.turtle-tile {
  background-image: url('./organisms/animals/turtle2.png');
  background-size: 38px;
}

.guarana-tile {
  background-image: url('./organisms/plants/guarana.png');
  background-size: 38px;
}

.grass-tile {
  background-image: url('./organisms/plants/grass3.png');
  background-size: 38px;
}

.berry-tile {
  background-image: url('./organisms/plants/poisonberry.png');
  background-size: 38px;
}

.sow-tile {
  background-image: url('./organisms/plants/sowthistle.png');
  background-size: 38px;
}

.hidden {
  display: none;
}
